

background {
    color: lightblue;
}

body {
    background-color: aquamarine;
}

h1{
    color: red;
    font-family: courier;
}

h1{
    color: red;
    font-family: cursive;
}

h2{
    color: darkorange;
    font-family: cursive;
}

h3{
    color: green;
    font-family: courier;
}

h4{
    color: red;
    font-family: courier;
}

h5{
    color: red;
    font-family: courier;
}

h6{
    color: tomato;
    font-family: courier;
}

th, td {
    padding: 15px;
    text-align: center;
}


.centrarVideo {
    margin-left: auto;
    margin-right: auto;
    display: block
}